---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section id="contact" class="contact-section">
    <div>contact</div>
  </section>
</Layout>

<style>
@media (max-width: 768px) {
}
</style>

<script is:inline>

</script>